#footer {
  overflow: hidden;
  background-color: #000;
  color: #fff;
  padding: 0;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 10px;
  width: 100%;
  min-height: 100px;
}

#footerwrapper {
  min-width: 200px;
  float: left;
  margin-bottom: 5%;
  margin-left: 5%;
}
