#footer {
  overflow: hidden;
  background-color: #000;
  color: #fff;
  padding: 0;
  margin-top: 100px;
  padding-top: 10px;
  padding-left: 10px;
  width: 100%;
}

#footertext {
  vertical-align: middle;
  margin-bottom: 5%;
  margin-left: 25%;
  margin-right: 25%;
}

@media only screen and (max-width: 600px) {
  #footertext{
    margin-left: 5%;
    margin-right: 5%;
  }
}