.navbar {
  overflow: auto;
  background-color: #000;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

a.name{
  font-size: 28px;
  font-family: Georgia, serif;
  float: left;
  color: white;
  padding: 7px 20px;
  text-decoration: none;
}

.navbar a.right{
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 12px;
  text-decoration: none;
  display: flex;
  flex-flow: column;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 14px;
  background-color: #000;
  font-family: inherit;
}

.navbar a.right:hover{
  background-color: white;
  color: #000;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 47px;
  right: 0px;
  
}

.dropdown-content a {
  right:0;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #bbb;
  color: #000;
}

.dropdown:hover .dropdown-content {
  display: block;
}