body {
  margin: 0;
  padding: 0px;
  font-size: 12;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  overflow: hidden;
  position: sticky;
  top: 0;
  background-color: #000;
  padding: 0;
  width: 100%;
  box-shadow: 0px 12px 10px 0px #0000004d;
}

#navbar navtext {
  margin-left: 0%;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

/* Left side of navbar*/
navtext#name{
    font-size: 28px;
    font-family: Georgia, serif;
    opacity: 1;
    float: left;
}

/* Right side of navbar*/
navtext#right{
  float: right;
}

navtext#right:hover {
  color: #000;
  background-color: #fff;
}